/* THESE STYLES ARE NECESSARY */
.cw-wheel {
  position: relative;
}
.cw table {
  border-spacing: 0;
}
.cw td {
  content: " ";
  width: 1px;
  height: 1px;
  padding: 0;
}
.cw td .inCircle {
  cursor: crosshair;
}
.cw-loupe {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius:4px;
}

/* THESE STYLES ARE FANCY */
/* (put your own fancy styles here) */
.cw-wheel {
  display: inline-block;
}
.cw-swatch {
  height: 40px;
  width: 300px;
}
.cw-loupe {
  border: 2px solid white;
}
.cw-loupe.first {
  border: 2px solid black;
}